body{
  background-color:pink;
  background-image: url(http://i.imgur.com/fH5u9FX.png);
  border:1px solid;
}
.bodytext{
  color:black;
  font-size:18px
  margin: 5 5 5 5px;
  padding: 0 0 0 0px;
  text-align:center;
  background-color:#ffb6c1;

}
li{
  list-style-type:none;
  text-decoration:underline;
  color:black;
  font-size:25px;
  padding: 25 25 25 0px;
  margin: 5 5 5 5px;
  background-color:#ffb6c1;
}
ul{
  border:3 3 3 3px solid #FFFFFF
  padding: 0 0 0 50px;
  margin: 5 5 5 5px;
}
.nav li{
  color:black;
}
.joe {
  background-color:#ffb6c1;
  padding: 10px;
}
